@import "variables.less";

body
{
	background-color: @white-chocolate;
}

h1, h3
{
	text-align: center;
	padding-top: 0;
	margin-top: 0;
	font-family: @font-family-serif;
}

a
{
	text-decoration: underline;

}

a:hover
{
	text-decoration: none;
}

.spacer
{
	padding-top: 50px;
}

div#cover h1
{
	font-size: 300%;
}

div#strip, div#world, div#chapter-title, div#sale, div#cover
{
	padding: 50px;
	background-color: @milk-chocolate;
	color: @white-chocolate;

	a
	{
		color: @white-chocolate;
	}
		
	a:hover
	{
		color: white;
	}
}

div#author, div#blurb, div#reviews, div.contents, div#sample
{
	padding: 50px;
	background-color: @white-chocolate;
	color: @dark-chocolate;

	a
	{
		color: black;
	}
		
	a:hover
	{
		color: @milk-chocolate;
	}
}

div#legal
{
	padding: 100px 0;
	background-color: @dark-chocolate;
	color: @milk-chocolate;
	text-align: center;
}

div#sample
{
	text-align: left;
}

div#sample ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*
 * Chapters
 */

ul.breadcrumb
{
	background: transparent;
	text-align: left;
}

div.contents
{
	p
	{
		text-indent: 2em;
		margin: 0;
		padding: 0;
	}

	blockquote
	{
		font-size: small;
		border: none;
		margin: 0 2em;
		
		p
		{
			text-indent: 0;
			margin: 0.5em 0;
		}

		p.attribution
		{
			text-align: right;
		}
	}
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

/*
 * Pager
 */

ul.pager a
{
	background: @milk-chocolate;
	color: @white-chocolate;
	border: 1px solid @dark-chocolate;
	border-radius: 0;
}

ul.pager a:hover
{
	background: @white-chocolate;
	color: @milk-chocolate;
}

ul.pager li.disabled a
{
	display: none;
}
