@import "variables.less";

body
{
	background-color: @color-light;
	font-family: @font-family-serif;
	font-size: 12pt;
}

h1, h2, h3
{
	text-align: center;
	padding-top: 0;
	margin-top: 0;
	font-family: @font-family-serif;
}

div#strip-title h3
{
	font-family: @font-family-sans-serif;
}

div#issues h2
{
	text-align: left;
}

a
{
	text-decoration: underline;

}

a:hover
{
	text-decoration: none;
}

i, em
{
	font-weight: 200;
	font-style: normal;
}

b, strong
{
	font-weight: 400;
	text-transform: uppercase;
}

.spacer
{
	padding-top: 50px;
}

div#cover h1
{
	font-size: 300%;
}

div#strip
{
	background: url("/img/strip.jpg");
	padding: 50px;

	div#strip-border
	{
		background: @color-light;
		padding: 5px;

		div#strip-title, div#issue-title
		{
			background: @color-light;
			padding: 30px 30px;
			border: 4px solid @color-dark;
		}
	}
}

/*
 * Issues
 */

div.issue-cover
{
	float: right;
	margin-left: 10px;
}

/*
 * Chapters
 */

ul.breadcrumb
{
	background: transparent;
	text-align: left;
}

div.contents
{
	p
	{
		text-indent: 2em;
		margin: 0;
		padding: 0;
	}

	blockquote
	{
		font-size: small;
		border: none;
		margin: 0 2em;
		
		p
		{
			text-indent: 0;
			margin: 0.5em 0;
		}

		p.attribution
		{
			text-align: right;
		}
	}
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

/*
 * Buttons
 */

.btn
{
	border-radius: 0;
	margin-bottom: 1em;
}

.btn-success a, a.btn
{
	text-decoration: none;
}

/*
 * Blocks
 */

#footer, #introduction
{
	font-family: @font-family-serif;
	font-size: 12pt;
	background-color: @color-dark;
	color: @color-light;
	padding: 50px;
}

#issues, #articles
{
	font-family: @font-family-serif;
	font-size: 12pt;
	background-color: @color-light;
	color: @color-dark;
	padding: 50px;
}

h2
{
	text-align: center;
	
}

/*
 * Articles
 */

div.article-page
{
	font-weight: bold;
	font-size: 24pt;
	text-align: right;
	margin-top: -6px;
}

div#articles h2
{
	text-align: left;
}

div#articles div.oow
{
	font-family: @font-family-sans-serif;

	h2
	{
		font-family: @font-family-sans-serif;
	}
}

/*
 * Footers
 */

#footer
{
	min-height: 300px;
	font-family: @font-family-sans-serif;
}

.footer-container a
{
	color: @color-light;
	font-weight: bold;

	:hover
	{
		color: white;
	}

	:visited
	{
		color: @color-light;
	}
}

#copyright, #license
{
	padding-top: 30px;
	text-align: center;
	font-size: small;
	color: @color-dark;
}

#license a
{
	font-weight: normal;
	color: @color-dark;
}
