---
layout: default
---
<div id="strip">
  <div class="container">
	<div class="row">
	  <div class="col-md-12" id="strip-border">
		<div id="strip-title">
		  <h1>{{ page.title }}</h1>
		</div>
	  </div>
	</div>
  </div>
</div>

<article id="page" class="page">
  <div class="dark-block short-block ooc">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  {% include breadcrumbs.html %}
		</div>
	  </div>
	</div>
  </div>

  <div class="contents light-block {% if page.outOfCharacter %} ooc{% endif %}" id="article">
	<div class="container">
	  <div class="row">
		<div class="col-md-8">
		  {% include chapter-links.html %}
		  <!-- BEGIN CONTENT -->
		  {{content}}
		  <!-- END CONTENT -->
		  {% include chapter-links.html %}
		</div>
		<div class="col-md-4">
		  {% include sidebar.html %}
		</div>
	  </div>
	</div>
  </div>
</article>
