---
layout: default
---
<article id="page" class="page">
  <div id="chapter-title">
	<div class="container">
	  <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
		  {% include breadcrumbs.html %}
		  <h1>{{ page.title }}</h1>
		</div>
	  </div>
	</div>
  </div>

  <div class="contents">
	<div class="container">
	  <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
		  {% include chapter-links.html %}
		  {{content}}
		  {% include chapter-links.html %}
		</div>
		<div class="col-md-2">
		  {% include sidebar.html %}
		</div>
	  </div>
	</div>
  </div>
</article>
