---
title: Issue #01 - Religion
layout: default
editingStatus: alpha
---

<div id="strip">
  <div class="container">
	<div class="row">
	  <div class="col-md-12" id="strip-border">
		<div id="issue-title">
		  <h1>Journals of Fedran #01</h1>
		  <h3>Religion</h3>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="dark-block oow">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		{% include breadcrumbs.html %}
	  </div>
	</div>
  </div>
</div>

<div id="articles" class="light-block">
  <div class="container">
	{% include articleref.html page="3" url="renewed-faith/" title="Renewed Faith" tags="Story" summary="<p>Long before the Lutier was responsible for the Divergence, he was a scribe in an isolated abbey. His fascination with the masculine form and the Holy Husband drove him from the church after his secret writings were found.</p>" %}
  </div>
</div>

<div class="dark-block oow">
  <div class="container">
  </div>
</div>
