---
title: Issue #00 - Resonance
layout: default
editingStatus: alpha
---

<div id="strip">
  <div class="container">
	<div class="row">
	  <div class="col-md-12" id="strip-border">
		<div id="issue-title">
		  <h1>Journals of Fedran #00</h1>
		  <h3>Resonance</h3>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="dark-block oow">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		{% include breadcrumbs.html %}
	  </div>
	</div>
	{% include articleref.html page="1" url="editor/" title="Notes from the Editor" class="oow" tags="OOW" %}
  </div>
</div>

<div id="articles" class="light-block">
  <div class="container">
	{% include articleref.html page="2" url="resonance/" title="Introduction to Resonance" tags="Essay" %}

	{% include articleref.html page="3" url="measurement/" title="Ministry of Standards" tags="Essay" %}

	{% include articleref.html page="4" url="farimons-gift/" title="Farimon's Gift" tags="Essay" %}

	{% include articleref.html page="5" url="farimons-revelation/" title="Farimon's Revelation" tags="Story" summary="<p>Farimon is called “The Father of Steam” for his discovery of how to avoid resonance. This is a tale of the day he first discovered a new law of resonance.</p>" %}

	{% include articleref.html page="12" url="miwafu/" title="Speaking Miwāfu" tags="Conlang, Essay" %}

	{% include articleref.html page="14" url="raging-alone/" title="Raging Alone" part="1" tags="Story, Serial" %}

	{% include articleref.html page="20" url="painful-love/" title="Painful Love" tags="Conlang, Essay" %}

	{% include articleref.html page="21" url="the-cros-gambit/" title="The Cros Gambit" tags="Story" %}

	{% include articleref.html page="24" url="grand-cros-clashball/" title="Grand Cros Clashball" tags="Essay" %}

	{% include articleref.html page="25" url="bloodball/" title="Bloodball" tags="Essay" %}

	{% include articleref.html page="26" url="steam-engines/" title="Steam Engines" tags="Poem" %}

	{% include articleref.html page="27" url="ramus-and-the-savage-slasher/" title="Ramus and the Savage Slasher" tags="Story" %}

	{% include articleref.html page="32" url="alone/" title="Alone" tags="Poem" %}

	{% include articleref.html page="33" url="under-the-streets/" title="Under the Streets" tags="Story" %}

	{% include articleref.html page="38" url="crime-of-hearts/" title="Crime of Hearts" tags="Poem" %}

	{% include articleref.html page="39" url="midlife-crisis/" title="Midlife Crisis" tags="Story" %}

	{% include articleref.html page="45" url="growing-up/" title="Growing Up" tags="Poem" %}

	{% include articleref.html page="46" url="a-cup-of-soup/" title="A Cup of Soup" tags="Story" %}

	{% include articleref.html page="50" url="zoetrop/" title="Zoetrop Knives" tags="Ad" %}

	{% include articleref.html page="51" url="simple-chicken-soup/" title="Simple Chicken Soup" tags="Recipe" %}

	{% include articleref.html page="52" url="i-love-her-i-hate-her/" title="I Love Her, I Hate Her" tags="Poem" %}

	{% include articleref.html page="53" url="second-hand-dresses/" title="Second-Hand Dresses" part="1" tags="Story, Serial" %}

	{% include articleref.html page="58" url="simple-goren/" title="Simple Goren" tags="Story" %}

	{% include articleref.html page="60" url="classifieds/" title="Classifieds"%}
  </div>
</div>

<div class="dark-block oow">
  <div class="container">
	{% include articleref.html page="61" url="action/" title="Call to Action" class="oow" tags="OOW" %}

	{% include articleref.html page="62" url="credits/" title="Credits" class="oow" tags="OOW" %}

	{% include articleref.html page="63" url="colophon/" title="Colophon" class="oow" tags="OOW" %}
  </div>
</div>
